@import "project.less";
@import "smart-grid.less";

.reset();

.body {
  font-family: Roboto, sans-serif;
}

.wrapper {
  .wrapper();
}

.debug {
  .debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
}

h1, .h1 {
  font-size: @font_36;
  text-align: center;
  margin: 30px 0;
}

h2, .h2 {
  font-size: @font_34;
  text-align: center;
  margin: 24px 0;
}

h3, .h3 {
  font-size: @font_28;
  text-align: center;
  margin: 18px 0;
}

h4, .h4 {
  font-size: @font_20;
  text-align: center;
  margin: 10px 0;
}

h5, .h5 {
  font-size: @font_18;
  text-align: center;
  margin: 8px 0;
}

h6, .h6 {
  font-size: @font_16;
  text-align: center;
  margin: 6px 0;
}

.up {

  background-color: @color_apple-green;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  display: none;
  padding: 1% 2%;
  position: fixed;
  top: 90%;
  left: 87%;
  transition: 1s;
  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}

.head {
  display: flex;
  justify-content: center;
  background: red;

  .header {
    background:white;
  }
}

.main {
background: #ff0

}

.services {

}



.footer {

}

.debug(@background, @outline) {
  height: 100vh;
  position: fixed;
  width: 100%;

  > div {
    height: inherit;
    .wrapper();

    > div {
      height: inherit;
      .row-flex();

      > div {
        .col();
        .size(1);
        height: inherit;
        outline: @outline;
        background: @background;
      }
    }
  }
}

